@import '~bootstrap';

body {
    background-color: lightblue;
}

.structureCard, .partenaireCard {
    background-color: white;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
}

.structureCard>label, .partenaireCard>label {
    z-index: 100000;
}
