@import '~bootstrap';

body {
    background-color: lightblue;
}

.entityCard {
    background-color: white;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
}

.entityCard>label {
    z-index: 100000;
}
