{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ helloManager }}</h1>
    <br>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    <br>
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% endblock %}