{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div id="searchBlock">Rechercher</div>
        <div id="PartenairesDisplayBlock">
            {% for partenaire in partenaires %}
            <a href={{ path('app_partenaire', {id: partenaire.getId}) }}>
                <div>
                    <p>{{ partenaire.isActive ? '+' : '-' }}</p>
                    <p>{{ partenaire.getFranchiseName }}</p>
                    <p>{{ partenaire.getShortDescription }}</p>
                    <br>
                </div>
            </a>
                {% endfor %}
        </div>
    </div>

{% endblock %}