{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello {{ app.user.email }}</h1>
    <div class="container">
        <div id="searchBlock">Rechercher</div>
        <div id="StructuresDisplayBlock">
            {% for structure in structures %}
                <div>
                    <p>{{ structure.Partenaire.getClientName }}</p>
                    <p>{{ structure.active ? '+' : '-' }}</p>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}